node_modules/**/*
.expo/*
.python-version
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
backup_db/
app.json

# macOS
.DS_Store

*.code-workspace
.vscode/*

mapData_processed.js
